<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Test Suite" parallel="false" verbose="1">
    
    <!-- General Test Suite - Basic functionality tests -->
    <test name="General Tests">
        <classes>
            <class name="com.test.GoogleTest"/>
        </classes>
    </test>
    
    <!-- E-commerce Test Suite - Shopping and product related tests -->
    <test name="E-commerce Tests">
        <classes>
            <class name="com.test.AmazonTest"/>
        </classes>
    </test>
    
    <!-- 
    Future test suites can be added here:
    
    <test name="Authentication Tests">
        <classes>
            <class name="com.test.LoginTest"/>
            <class name="com.test.RegistrationTest"/>
        </classes>
    </test>
    
    <test name="Payment Tests">
        <classes>
            <class name="com.test.CheckoutTest"/>
            <class name="com.test.PaymentTest"/>
        </classes>
    </test>
    
    <test name="Search Tests">
        <classes>
            <class name="com.test.SearchTest"/>
        </classes>
    </test>
    -->
    
</suite>
